<br />
<br />
<h1 class="text-center pt-5"> Select Categories</h1>
<div class="container">
  <div class="row">
    <% @categories.each do |category| %>
      <div class="col-lg-4">
        <div class="card bg-light m-3">
          <div class="card-body">
            <h3 class="card-title"><%=category.title %></h3>
            <p class="card-text"><%=category.description %></p>
            <hr />
            <%= form_for @lesson do |f| %>
              <%= hidden_field_tag :category_id, category.id %>
              <%= f.submit "Learn", class: "float-right btn btn-info" %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>